{:source-paths
 ["src" "test"]

 :dependencies
 [[reagent "0.8.1"]
  [re-frame "0.10.5"]
  [secretary "1.2.3"]
  [com.taoensso/tempura "1.2.1"]
  [com.taoensso/timbre "4.10.0"]
  [com.andrewmcveigh/cljs-time "0.5.2"]

  [day8.re-frame/tracing "0.5.1"]]

 :builds
 {:main {:target :node-script
         :output-to "resources/main.js"
         :main navdist.main.core/main}

  :app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "js"
        :modules {:app {:entries [navdist.app.core]}}
        :devtools {:after-load navdist.app.core/reload-hook}
        :js-options {:js-provider :require}}

  :test {:target :node-test
         :output-to "target/node-test.js"
         :autorun true}}}
